<div class="footer">
    <div class="row">
        <div class="col-xl-12">

        </div>
    </div>

        <ul class="social-icon">
            <li>
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
                </svg>
            </li>


            <li>
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
                </svg>
            </li>


            <li>
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dribbble"></use>
                </svg>
            </li>
        </ul>



</div>
