<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Portfolio </title>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bases/slider.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bases/slick-theme.css">


</head>


<body>


    {{>navbar}}
    {{>body}}
    {{>footer}}


    <div class="svg-sprite-container">{{> 'sprite.symbol' }}</div>

    <script type="text/javascript" src="assets/js/jquery.min.js"> </script>
    <script type="text/javascript" src="assets/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="assets/js/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"> </script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"> </script>
    <script type="text/javascript" src="assets/js/app.js"> </script>

</body>

</html>
