
.topbar{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1100;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    }


    .topbar {
      height: 75px;
      background-color: black;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
    }




.nav-bar{
  position: relative;
    height: 80px;
    display:-webkit-box;
       display:-ms-flexbox;
       display:flex;
       -webkit-box-pack: justify;
       -ms-flex-pack:justify;
       justify-content:space-between;
       color: #fff;
   }



.image-size {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}








.left-250{

    margin-left: 250px;

}





.slide {
    background: #777;
    height: 300px;
}




.logo {
  display: block;
  position: flex;
  margin-left: 20px;
  margin-top: 35px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social-icon{
    display: flex;
    position: relative;
    margin-right: 20px;

}

.svg-icon {
height: 24px;
width: 24px;
fill: #fff;
margin:2px;
}

.svg-icon:hover {
    // Your code here
    opacity: .5;
}


// Navigation
nav {


  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      position: relative;
      color:#fff;

      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: #fff;
        text-decoration: none;

        &:hover {

          color: grey;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: '';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

//slide nav-bar


.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #333;
  color: white;

}

.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-osx-font-smoothing: grayscale;
    transition: .3s;
}

.fa-navicon:before {
        content: "\f0c9";
}
.fa-reorder:before {
        content: "\f0c9";
}
.fa-bars:before {
    content: "\f0c9";
}

i, cite, em, var, address, dfn {
    font-style: italic;
}
